/* main styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --main-bg-color:#e0fbfc;
  --main-acc-color: #98c1d9;
  --second-acc-color: #3d5a80;
  --main-txt-color: #293241;
  --second-txt-color: #ee6c4d;
  --third-txt-color: #a8dadc;
}

body {
  background: var(--main-bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--main-txt-color)
}

a, a:visited {
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--second-txt-color)
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.section-title {
  text-align: center;
  font-size: 70px;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* navibar styles*/
.navibar-container-main {
  z-index: 99;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  background-color: var(--main-txt-color);
  text-align: left;
}

.navibar-container-sub {
  z-index: 99;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 47px;
  width: 100%;
  opacity: 0.9;
  background-color: var(--main-bg-color);
  text-align: left;
}

.navibar-item {
  margin: 0;
  padding: 11px 40px;
  color: var(--main-bg-color);
  transition: color 0.7s;
}

.navibar-item:hover, .navibar-item-sub:hover {
  color: var(--second-txt-color);
  cursor: pointer;
}

.navibar-item-sub {
  margin: 0;
  padding: 5px 12px 5px 12px;
  transition: color 0.7s;
}

.active-disappear {
  visibility: hidden;
}

.active .navibar-item {
  color: var(--second-txt-color);
}

.active .navibar-item-sub {
  color: var(--second-txt-color);
}

#arrow-logo {
  padding: 5px 40px;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  #arrow-logo {
    padding: 8px 40px;
    font-size: 20px;
  }

  .navibar-container-sub {
    top: 41px
  }
}

/* cheatsheet styles */
.cheatsheet-container {
  display: flex;
  justify-content: space-around;
}

.cheatsheet-column {
  margin: 0 auto;
  width: 49%;
}

.cheatsheet-box {
  background-color: white;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  overflow: auto;
}

#cheatsheet-header {
  margin-bottom: 5px;
  text-decoration: underline;
}

.cheatsheet-box p {
  margin: 0;
}

#cheatsheet-keyword {
  color: var(--third-txt-color)
}

/* textbox with copy styles */
.textbox-copy-detailed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}

.textbox-copy-detailedbody {
  display: flex;
  justify-content: flex-start;
}

.textbox-copy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3px 0;
}

.textbox-copy-expl {
  margin-right: 5px;
}

#textbox-header {
  text-decoration: underline;
}

.textbox-copy-field {
  padding: 5px;
  background: var(--main-acc-color);
  font-size: 14px;
  border-radius: 5px;
}

.textbox-copy-logo {
  margin: 0;
  padding-left: 3px;
}

.textbox-copy-logo:hover {
  color: var(--second-txt-color);
  cursor: pointer
}

.textbox-copied {
  z-index: 999;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 7px;
  background-color: var(--second-txt-color);
  color: var(--main-bg-color);
  font-size: 13px;
  border-radius: 5px;
}

.textbox-copy-field p {
  margin: 0;
  padding: 0;
}

/* interactive div styles */

.div-inter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3px 0;
}

.div-inter-expl {
  margin-right: 5px;
}

.div-inter-field {
  padding: 5px;
  background: var(--main-acc-color);
  font-size: 14px;
  border-radius: 5px;
}

.div-inter-field-active {
  color: var(--second-txt-color);
}

#div-inter-clickable:hover {
  color: var(--second-txt-color);
  cursor: pointer
}

/* style for modal */
.modal-main {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal-background {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
}

.modal-icon {
  margin: 0 auto;
  height: 100px;
  text-align: center;
  font-size: 100px;
}

.modal-title {
  margin: 0 auto 15px;
  text-align: center;
  font-size: 25px;
}

.modal-content {
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  min-width: 200px;
  padding: 10px;
  transform: translate(-50%,-50%);
  background: white;
  color: var(--main-txt-color);
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px;
}

.modal-button-container {
  display: flex;
}

.modal-button-ok {
  margin: 10px auto;
  padding: 5px;
  width: 20%;
  background: var(--second-acc-color);
  color: white;
  text-align: center;
  border-radius: 15px;
}

.modal-button-ok:hover {
  padding: 3px;
  color: var(--second-acc-color);
  background: white;
  border: 2px solid var(--second-acc-color);
  cursor: pointer;
}

/* style for modal image */
.modal-img-background {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.8;
}

.modal-img-content {
  z-index: 6;
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 80%;
  min-width: 200px;
  background: white;
  transform: translate(-50%,-50%);
  border-radius: 5px;
}

.modal-img-container {
  height: 100%;
  width: 100%
}

.modal-img-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.modal-img-title {
  z-index: 6;
  padding: 10px;
  opacity: 0.8;
  background-color: var(--second-acc-color);
  color: var(--main-bg-color)
}

.modal-close {
  z-index: 10;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 30px;
  color: var(--third-txt-color)
}

.modal-close:hover {
  color: var(--second-txt-color);
  cursor: pointer;
}

/* not supported styles */
.mobile-icon {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  font-size: 80px;
}

.mobile-content {
  margin: 0 auto;
  width : 80%;
}


/* codemirror styes (written to overwrite existing) */
.CodeMirror {
  height: auto !important;
  border-radius: 5px;
}

.CodeMirror-scroll {
  margin-right: 0 !important;
}

/* introduction styles */
.introduction-body {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

#introduction-logo {
  font-size: 17px
}

/* frontend react styles */
.frontend-react-row {
  display: flex;
  align-items: center;
}

.frontend-react-expl {
  width: 100px;
}

/* frontend flex styles */
.css-flex-example {
  background-color: white;
  margin: 20px 0;
  padding: 10px;
  height: 500px;
  border-radius: 10px;
  overflow: scroll;
}

.css-flex-options {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
}

.css-flex-option {
  margin: 0 10px;
}

.css-flex-example-div1, .css-flex-example-div2, .css-flex-example-div3, .css-flex-example-div4, .css-flex-example-div5, .css-flex-example-div6, .css-flex-example-div7, .css-flex-example-div8, .css-flex-example-div9, .css-flex-example-div10 {
  text-align: center;
}

.css-flex-example-div1 {
  color: #F94144;
  border: 2px solid #F94144;
}

.css-flex-example-div2 {
  color: #F3722C;
  border: 2px solid #F3722C;
}

.css-flex-example-div3 {
  color: #F8961E;
  border: 2px solid #F8961E;
}

.css-flex-example-div4 {
  color: #F9C74F;
  border: 2px solid #F9C74F;
}

.css-flex-example-div5 {
  color: #90BE6D;
  border: 2px solid #90BE6D
}

.css-flex-example-div6 {
  color: #43AA8B;
  border: 2px solid #43AA8B;
}

.css-flex-example-div7 {
  color: #0892A5;
  border: 2px solid #0892A5;
}

.css-flex-example-div8 {
  color: #0845A6;
  border: 2px solid #0845A6;
}

.css-flex-example-div9 {
  color: #4D08A6;
  border: 2px solid #4D08A6;
}

.css-flex-example-div10 {
  color: #A60899;
  border: 2px solid #A60899;
}

/* frontend css images styles */
.css-img-obj-pos {
  display: flex;
}

.css-img-obj-pos-title {
  width: 155px;
}

.css-img-example {
  background-color: white;
  margin: 20px 0;
  padding: 10px;
  height: 500px;
  border-radius: 10px;
  overflow: scroll;
}

.css-img-container {
  border: 2px solid var(--second-txt-color)
}

.css-img-options {
  display: flex;
}

.css-img-option {
  margin: 5px 10px;
}

/* frontend netlify styles */
.frontend-netlify-img-container {
  width: 100%;
}

.frontend-netlify-img-container img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  object-position: left;
}

#netlify-explanation {
  margin: 10px 0;
}

/* backend nodejs */
#backend-node-link a, #backend-node-link a:visited {
  color: var(--second-acc-color)
}

#backend-node-link a:hover {
  color: var(--second-txt-color)
}

/* backend sql styles */
.backend-sql-expl {
  width: 100%;
}

/* tools styles */
.tools-container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  width: 60%;
  background-color: white;
  border-radius: 5px;
}

.tools-container-sub {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1px;
}

.tools-img-container {
  margin-right: 10px;
  height: 80px;
  width: 200px;
}

.tools-img-container img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  object-position: left;
  border-radius: 8px;
}